h1 {
  color: #DC143C;
  font-size: 55px;
  -webkit-text-stroke: 1px silver;
}
body {
  background-color: #001f3f;
  margin: 0 auto;
}
.container-fluid {
  background-color: #001f3f;
}
.container-fluid2 {
  margin-left: 15%;
}
.topNav {
  color: #DDDDDD;
}
.rGL {
  height: 60%;
  width: 80%;
  margin: auto 0;
}
.form1 {margin: 0 auto;
}
.songSnippets {
  color: grey;
  font-size: 25px;
}
.choiceText {
  color: #978844;
  font-size: 25px;
  margin: 25px 0px -25px 0px;
}
.rapperChoices {
  color: #bab1ba;
  font-size: 25px;
  margin: 15px 0px;
}
#playSnippet {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#001f3f;
	font-family:Arial;
	font-size:17px;
	/* padding:7px 45px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  width: 230px;
  height: 38px;
}
#playSnippet:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f2c4), color-stop(1, #978844));
	background:-moz-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:-webkit-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:-o-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:-ms-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:linear-gradient(to bottom, #f9f2c4 5%, #978844 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f2c4', endColorstr='#978844',GradientType=0);
	background-color:#f9f2c4;
  color: #001f3f;
}
#playSnippet:active {
	position:relative;
	top:1px;
}
#submitGuess {
  margin-top: 10px;
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f2c4), color-stop(1, #bab1ba));
  background:-moz-linear-gradient(top, #f9f2c4 5%, #978844 100%);
  background:-webkit-linear-gradient(top, #f9f2c4 5%, #978844 100%);
  background:-o-linear-gradient(top, #f9f2c4 5%, #978844 100%);
  background:-ms-linear-gradient(top, #f9f2c4 5%, #978844 100%);
  background:linear-gradient(to bottom, #f9f2c4 5%, #978844 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f2c4', endColorstr='#978844',GradientType=0);
  background-color:#f9f2c4;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#001f3f;
  font-family:Arial;
  font-size:17px;
  /* padding:7px 45px; */
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  width: 230px;
  height: 38px;
}
#submitGuess:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color:#bab1ba;
  color: #001f3f;
}
.#submitGuess:active {
  position:relative;
  top:1px;
}
#refresh {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#001f3f;
	font-family:Arial;
	font-size:17px;
	/* padding:7px 45px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  width: 230px;
  height: 38px;
}
#refresh:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f2c4), color-stop(1, #978844));
	background:-moz-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:-webkit-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:-o-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:-ms-linear-gradient(top, #f9f2c4 5%, #978844 100%);
	background:linear-gradient(to bottom, #f9f2c4 5%, #978844 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f2c4', endColorstr='#978844',GradientType=0);
	background-color:#f9f2c4;
  color: #001f3f;
}
#refresh:active {
	position:relative;
	top:1px;
}

#quit {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#001f3f;
	font-family:Arial;
	font-size:17px;
	/* padding:7px 45px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  width: 230px;
  height: 38px;
}
#quit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f2c4), color-stop(1, #978844));
	background:-moz-linear-gradient(top, #0076f2 5%, #001f3f 100%);
	background:-webkit-linear-gradient(top, #0076f2 5%, #001f3f 100%);
	background:-o-linear-gradient(top, #0076f2 5%, #001f3f 100%);
	background:-ms-linear-gradient(top, #0076f2 5%, #001f3f 100%);
	background:linear-gradient(to bottom, #0076f2 5%, #001f3f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076f2', endColorstr='#0076f2',GradientType=0);
	background-color:#0076f2;
  color: #001f3f;
}
#quit:active {
	position:relative;
	top:1px;
}

input[type="radio"] {
  display: block;
  color: red;
    /* this doesn't appear to work. Will look into it. */
}
.rapperPix {
  color: grey;
  font-size: 25px;
}
.rapperLinks {
  color: grey;
  font-size: 25px;
}
.bottomNav {
  color: #DDDDDD;
}
.refresh2 {
  float: left;
}
.cbtn btn-info btn-xs {
  color: #001f3f;
}
.modal-header {
  background-color: #001f3f;
  color: #f9f2c4;
}
.modal-title {
  font-size: 75px;
}
.modal-body {
  background-color: #f9f2c4;
  color: #001f3f;
}
.modal-footer {
  background-color: #001f3f;
  color: #f9f2c4;
  text-align: left;
}
